
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/*navbar styling */
.navbar{
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all .3s ease;
}

.navbar.sticky{
  padding: 15px 0;
  background: black; /*remove if you do not want color behind the navbar*/
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: blueviolet; /*find more suitible color later*/
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color .3s ease;
}
.navbar .menu li a:hover{
  color: blueviolet; /*change color later*/
}


/* home section styling */
.home{
  display: flex;
  background-image: url("images/banner2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* optional but recommended */
  height: 100vh;

  min-height: 500px;
  color: #fff;
  
}
.home .max-width{
  margin: auto 0 auto 40px;
}

.home .home-content .text-1{
  font-size: 27px;
}

.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span{
  color: rgb(46, 40, 54);
  font-weight: 500;
}
